<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>配置管理</title>
</head>
<body>
    <h1>配置管理</h1>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li style="color: green;">{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <form method="post" action="/">
        <h2>Bilibili 配置</h2>
        <label>sessdata:
            <input type="text" name="sessdata" value="{{ config['bilibili']['credential']['sessdata'] }}" style="width: 600px;">
        </label>
        <br>
        <label>bili_jct:
            <input type="text" name="bili_jct" value="{{ config['bilibili']['credential']['bili_jct'] }}" style="width: 600px;">
        </label>
        <br>
        <label>房间号:
            <input type="text" name="room_id" value="{{ config['bilibili']['room_id'] }}">
        </label>
        <br>
        <label>主播名称:
            <input type="text" name="streamer_name" value="{{ config['bilibili']['streamer_name'] }}">
        </label>
        <br>
        <h2>Spotify 配置</h2>
        <label>client_id:
            <input type="text" name="spotify_client_id" value="{{ config['spotify']['client_id'] }}">
        </label>
        <br>
        <label>client_secret:
            <input type="text" name="spotify_client_secret" value="{{ config['spotify']['client_secret'] }}">
        </label>
        <br>
        <label>redirect_uri:
            <input type="text" name="spotify_redirect_uri" value="{{ config['spotify']['redirect_uri'] }}">
        </label>
        <br>
        <label>default_playlist:
            <input type="text" name="default_playlist" value="{{ config['spotify']['default_playlist'] }}">
        </label>
        <br><br>
        <button type="submit">保存配置</button>
    </form>
</body>
</html>